/* /css/light.css */
body {
    background-color: gainsboro;
    color: black;
    transition: background-color 0.3s, color 0.5s, background-image 0.3s;
    background-image: url('/Data/lightbg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

a { color: blue; }
h1,h2,h5,h6,p { color: black; }
p { border: 4px solid black; box-shadow: 4px 4px black; }

